@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
	max-width: 375px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
#socialAuth {
	transition: 0.2s ease-in;
	cursor: pointer;
	padding: 2px;
}

#socialAuth:hover {
	border-radius: 100%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.493);
}

#logo {
	margin: 10px 0px;
}
#filled-basic {
	width: 100%;
}
.recuerdame-container {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
}
.login-btn {
	width: 100%;
	border-radius: 15px;
	padding: 15px;
	background-color: #8c52ff;
	border: none;
	color: white;
	letter-spacing: 3px;
	margin: 15px 0;
}
.blue-link {
	text-decoration: none;
	color: #4a72ff;
}
.cta-container-register {
	text-align: center;
	width: 100%;
	margin: 20px 0;
	border-radius: 15px;
	padding: 15px;
	background-color: #8c52ff;
	border: none;
	color: white;
	letter-spacing: 3px;
}
